@media (min-width: 1200px) {
    .container {
        max-width: 120000px !important;
    }
}

.topnav a:hover {
    border-bottom: 3px solid red;
}

.navbar-brand {
    padding-left: 1rem;
    font-size: 2rem;
    text-align: right;
}

.navbar {
    font-size: 1.5rem;
    width: 100%;
    background-color: #6D6D6D !important;
}

.nav-link {
    color: white !important;
    font-weight: bold !important;
}

.ho {
     color: #2ACDE3 !important;
}

.container {
    margin-left: 0 !important;
    padding-left: 0 !important;  
    padding-right: 0 !important;
}

body {
    background-color: #2E88A5 !important;
}

.centrar {
    padding-top: 10rem;
}

.card-header {
    font-size: 2rem !important;
}

.card-title {
    font-size: 2rem;
}

.card-text {
    font-size: 1.5rem;
}

.btn {
    font-size: 1.5rem !important;
}